<div>
  <% if @report.mentioned_reports.exists? %>
    <strong><%= t('mentioned_reports') %></strong>
    <ul>
      <% @report.mentioned_reports.each do |mentioned_report| %>
      <li>
      <%= link_to mentioned_report.title, mentioned_report %> (<%= l mentioned_report.created_at, format: :short %>)
      </li>
      <% end %>
    </ul>
  <% end %>
</div>
